In [1]:
# API's
# End Points
# ETL
# Extract , Transform, Load

In [2]:
import requests
import pandas as pd

In [3]:
url=  "https://jsonplaceholder.typicode.com/posts"
response = requests.get(url)
data = response.json()
print("Data Extracted Sucessfully")

Data Extracted Sucessfully

In [4]:
df=pd.DataFrame(data)
df.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...

In [5]:
# Calling API
# Generating API Key
# Understanding endpoints
# Understanding json format

In [6]:
df.to_csv("ETL",index=False)
print("Data Loaded Successfully")

Data Loaded Successfully